a {
    vertical-align: middle;
}

html, body, p, span, div, table, tr, td, h1, h2, h3, h4, h5, h6 {
  color: #353535;
}

a span {
  color: inherit;
}

footer, footer p {
  color: #949494;
}

.fz-17 {
  font-size: 17px;
}

.simple-text h4, .c-h4, .comment-reply-title {
  font-size: 17px;
}


@media (max-width: 1200px) {
  .simple-text h4, .c-h4, .comment-reply-title {
    font-size: 16px;
  }
}

.h-100vh {
  height:100vh!important;
}

.h-90vh {
  height:90vh!important;
}
.h-55vh {
  height:55vh!important;
}
.h-600px {
  height:600px!important;
}
.h-500px {
  height:500px!important;
}
.h-400px {
  height:400px!important;
}

.swiper-custom.tt-arrow-left, .swiper-custom.tt-arrow-right {
  background:transparent !important;
  border:none;
}

.swiper-custom span{
  font-size:35px;
  color:#fff;
  background:transparent;
}

.pagination {
  justify-content:center;
}

.tt-custom-pagination {
  font-size: inherit;
}

#content-wrapper.content {
  padding:0;
}

.overflow-hidden {
  overflow: hidden;
}

._show_1e.wrap_mW, .label_39 {
  z-index: 1499 !important;
}

@media (max-width: 768px) {
  .cp-modal-body {
    padding: 15px !important;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-1 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-1.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-2 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-2.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/



/* TT-SERVICE TYPE-5 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-5 .tt-service-icon:hover {
    background: transparent;
}

.tt-service.type-5.color-1 .tt-service-icon:hover span {
    color: #86bb6b;
}

.tt-service.type-5.color-2 .tt-service-icon:hover span {
    color: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-6 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-service.type-6.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

.tt-service.type-6 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-7 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-7 {
  text-align: center;
}

.tt-service.type-7 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
}

.tt-service.type-7 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

.tt-service.type-7.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

.tt-service.type-7 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-7 .tt-service-title {
  margin-bottom: 16px;
}

@media (max-width:767px) {
  .tt-service.type-7 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-8 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-8 .tt-service-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  border: 0;
}

.tt-service.type-8 .tt-service-icon span {
  font-size: 60px;
  line-height: 60px;
}

.tt-service.type-8 .tt-service-icon:hover,
.tt-service.type-9 .tt-service-icon:hover {
  background: transparent;
}

.tt-service.type-8 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-8 .tt-service-icon:hover span {
  color: #30373b;
}

.tt-service.type-8 .tt-service-info {
  padding-left: 80px;
}

@media (max-width:991px) {
  .tt-service.type-8 .tt-service-info {
    padding-left: 0;
  }
  .tt-service.type-8 .tt-service-icon {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width:767px) {
  .tt-service.type-8 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-9 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-9 {
  text-align: center;
}

.tt-service.type-9 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-9 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-9 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

@media (max-width:991px) {
  .tt-service.type-9 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-10 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-10 {
  text-align: center;
  border:1px solid #eaeaea;
  padding:25px 40px 50px 40px;
}

.tt-service.type-10 .tt-service-icon:hover {
    background: transparent;
}

.tt-service.type-10.color-1 .tt-service-icon:hover span{
    color: #86bb6b;
}

.tt-service.type-10.color-2 .tt-service-icon:hover span{
    color: #368aa9;
}

.tt-service.type-10 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-10 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-10 .tt-service-info {
  padding-left: 0 !important;
  padding-top: 0px;
}

@media (max-width:991px) {
  .tt-service.type-10 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-11 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-service.type-11{
    background-color: #eee;
    padding: 25px;
    text-align: center;
    min-height:280px;
}

.tt-service.type-11 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-11 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

.tt-service.type-11 p{
    color: #646464;
}

.tt-service.type-11 .tt-service-icon {
    height: 85px;
}

@media (max-width:991px) {
  .tt-service.type-11 {
    max-width: 3000px;
    margin:10px auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MASONRY */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.msnry_item a:hover{
  cursor: zoom-in;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CASE SERVICES */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-case-info {
  padding: 26px 0 30px;
}

.tt-case-img.hover-custom{
  position: relative;
  overflow: hidden;
  display: block;
}

.tt-case-img.hover-custom img{
  max-width: 100%;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tt-case-img.hover-custom:hover img{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CASE SERVICES */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.breadcrumb {
  background:none;
}

ol.breadcrumb {
  justify-content: flex-end;
  font-size: 19px;
  line-height: 29px;
}

#breadcrumbs-div {
  background-color:#f8f8f8;
  padding:15px 0 1px 0;
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* PHOTOSWIPE GALLERY */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.pswp {
  z-index: 1501;
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* LOGO */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-header .logo {
  width: 170px;
  line-height:55px;
  height: 55px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MENU */


/*-------------------------------------------------------------------------------------------------------------------------------*/

/* Высота главного меню */
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
  height: 65px !important;
  line-height: 65px;
}

/* Контактные данные*/
.tt-header .tt-address-info{
  padding: 0;
}

.tt-header .main-nav > ul > li > ul > li > a:hover {
  color: #949494;
}

.tt-address-info, .contact-details-module .c-btn.type-5 {
  font-size: 15px;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu.mega-services > ul.mega-sub-menu {
  width: 150%;
}

/* Отступы контейнера с лого */
.tt-header .top-inner {
  padding: 5px 0 !important;
}

.tt-header-margin {
  height: 65px;
}

@media (max-width: 1200px){
  /* Вкл. мобильный дизайн меню */
  .tt-header .toggle-block {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 100%;
      background: #fff;
      padding: 65px 15px 0px 15px;
      -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
      -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
      box-shadow: 0px 1px 2px 0px #eaeaea;
  }

  /* Ширина меню */
  .tt-header .top-inner {
    width: 100%;
    padding: 8px 0 !important;
  }

  /* Отступ от лого */
  .tt-header .toggle-block {
    padding-top: 75px;
  }
}

@media (max-width: 991px){
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-item > a.mega-menu-link {
    height: 40px !important;
    line-height: 40px !important;
  }
  .tt-header .top-inner {
    padding: 6px 0;
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  /* Центрирование логотипа */
  .top-inner-container {
    text-align: center;
  }
  .top-inner {
    margin-bottom: 10px;
  }
}

@media (max-width:991px) {
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    max-width:100%;
  }
  .tt-header .main-nav {
    margin-bottom: 0;
  }
  .tt-header .nav-more .c-btn {
    margin-bottom: 20px;
    margin-top: 14px;
  }
  .tt-header .toggle-block {
    overflow: initial;
  }
}
@media (max-width:600px) {
  .tt-header .toggle-block {
    overflow: auto !important;
  }
  .tt-header .toggle-block {
    padding-top: 90px;
  }
}


/*---------------------*/
/* Многоуровневое меню */
/*---------------------*/
.tt-header .main-nav > ul > li > ul > li > a{
  transition: .1s linear;
  /*padding-right:50px;*/
}

@media (min-width: 992px) {
  .tt-header .main-nav > ul > li > ul{
    transform: translateY(0);
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    width: auto;
    min-width: 120px;
  }
  .tt-header .main-nav > ul > li > ul {
    /*border-top: none;*/
  }
  .tt-header .main-nav > ul > li > ul > li > a:hover{
    background: initial;
    font-weight: bold;
  }
}
@media (max-width:991px) {
  .tt-header .main-nav > ul > li > ul {
    background: none;
    color: #007bff;
    padding: 0!important;
  }
  .contact-details-module {
    margin-top: 10px;
  }
  .tt-header .main-nav > ul > li > ul > li > a {
    color: inherit;
    padding-right: 0!important;
    padding-left: 0!important;
  }
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MENU OVERLAY */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.menu-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .9);
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

@media screen and (max-width : 991px) {
  .menu-overlay {
    z-index: 1501;
  }
  .tt-header {
    z-index: 1502;
  }
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CONTACTS */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.contacts-info p{
  line-height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* FORM IN CONTACTS */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.contacts-info p {
  color: #4f4f4f;
}

#form-contacts p {
  line-height: 30px;
  color: #4f4f4f;
}

#form-contacts label{
  display:block;
  margin: 10px 0;
  font-size: 17px;
}

#form-contacts input, #form-contacts textarea {
  width:100%;
}

#form-contacts input:not([type="submit"]), #form-contacts textarea{
  background-color:#eee;
  border:none;
  line-height:30px;
  font-size:18px;
  padding: 1px 4px;
  color: #4f4f4f;
}

#form-contacts textarea{
  resize:none;
  height:140px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* FORM IN FOOTER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

footer form {
  margin-top: 5px;
}

footer form input {
  height: 32px;
  font-size: 16px;
  border: none;
  background :#eee;
  padding-left: 5px;
}

footer input[name="your-phone"]{
  margin-right: 10px;
  margin-bottom: 10px;
}

footer input[type="submit"]{
  cursor: pointer;
  padding: 1px 20px;
  color: #fff;
  font-weight: bold;
  background: #949494;
  transition: .1s linear;
}
footer input[type="submit"]:hover{
  background: #737373;
}

footer input[aria-invalid="true"]{
  border: 1px solid #ff6868;
  background-color: #ffcccc;
}

footer input[aria-invalid="true"]:focus{
  background-color: #fff;
  border: none;
}

footer .wpcf7-response-output, footer .wpcf7-not-valid-tip {
  display: none !important;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MENU IN FOOTER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

footer .widget_nav_menu ul#menu-menu-footer{
  display: flex;
  flex-wrap: wrap;
}

footer .widget_nav_menu ul#menu-menu-footer li {
  margin-right: 15px;
}

footer ul li ul {
  display: none;
}


@media screen and (max-width : 768px) {
  footer .widget_nav_menu ul#menu-main-menu{
    height: auto;
    flex-direction: row;
    align-content: flex-start;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* BUTTON TYPE-1 */


/*-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .c-btn.type-1.size-2 {
    padding: 14px 25px 13px 25px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* BUTTON TYPE-1 */


/*-------------------------------------------------------------------------------------------------------------------------------*/
.c-btn.type-3:hover:before, .form-submit:hover:before, .form-submit:hover:after, .c-btn.type-3:hover:after {
  width: 51%;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* BUTTON TYPE-5 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.c-btn.type-5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #7ab55c;
  border: 2px solid #7ab55c;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  transition: .15s linear;
}

.c-btn.type-5 span,
.c-btn.type-5 input {
  display: inline-block;
  padding: 8px 29px 7px 29px;
}


.c-btn.type-5 input {
  background: transparent;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

.c-btn.type-5:hover {
  background: #7ab55c;
  color:#fff;
}

.c-btn.type-5.size-2 span,
.c-btn.type-5.size-2 input {
  padding: 15px 54px 14px 54px;
}

.c-btn.type-5.color-2 {
  color: #7ab55c;
  border: 2px solid #7ab55c;
}

.c-btn.type-5.color-2:hover {
  color: #fff;
  background: #7ab55c;
}

.c-btn.type-5.color-3 {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.c-btn.type-5.color-3:hover {
  color: #000;
  background: #fff;
}

.c-btn.type-5.color-4 {
  color: #ef662f;
  border: 2px solid #ef662f;
}

.c-btn.type-5.color-4:hover {
  color: #fff;
  background: #ef662f;
}

.c-btn.type-5.color-5 {
  color: #479ccf;
  border: 2px solid #479ccf;
}

.c-btn.type-5.color-5:hover {
  color: #fff;
  background: #479ccf;
}

.c-btn.type-5.color-6 {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  border-color: rgba(255, 255, 255, 0.6);
  background: #fff;
}

.c-btn.type-5.radius-0 {
  -moz-border-radius: 0;
  border-radius: 0;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* SWIPER */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.swiper-wrapper {
  align-items: center;
}

.tt-partner {
  border: none;
  text-align: center;
}

.swiper-container {
  border-top: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
}

.swiper-container.h-90vh img{
  max-height:100%;
}

.tt-mslide-2-img {
  padding-top:3%;
}

.tt-mslide-2-table {
  height:100%;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* HERO SLIDER */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-mslide-3-table {
  height: 100%; 
  padding: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TESTIMONIALS */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.testimonial-swiper-slider.swiper-container{
  border:none;
}

.tt-testimonial-info {
  padding-top: 0;
}

.tt-testimonial-label{
  color: #30373b
}

.tt-swiper-arrow-center.for-testimonials .swiper-button-prev.pos-1{
  left:-25px!important;
}
.tt-swiper-arrow-center.for-testimonials .swiper-button-next.pos-1{
  right:-25px!important;
}

.leave-testimonial {
  margin-top: 35px;
}

.leave-testimonial a {
  font-weight: 600;
  border: 1px solid #7ab55c;
  color: #7ab55c;
  transition: .1s linear;
  padding: 12px 55px;
  display: inline-block;
}

.leave-testimonial a:hover {
  background: #7ab55c;
  color: #fff;
}

.cp_id_1f8c9 label {
  width: 100%;
  font-size: 15px;
}

.cp_id_1f8c9 input, .cp_id_1f8c9 textarea{
  margin-top: 2px;
}

.cp_id_1f8c9 input[type="submit"] {
  border: none !important;
  color: #fff !important;
}

.wpcf7-response-output.wpcf7-validation-errors {
  display: none !important;
}

@media (max-width: 768px){
  .cp-modal-body.cp-blank {
    text-align: initial !important;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* ISOTOPE */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.isotope {
    transition: .2s linear;
}

.isotope-select {
    -webkit-appearance: menulist;
}

.isotope-filter {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 20px;
}

.isotope-filter button {
  padding:15px 20px;
  background: #e0e0e0;
  color: #454545;
  cursor: pointer;
  margin: 5px;
  border: none;
  transition: .2s linear;
}

.isotope-filter button.is-checked {
  background: #7ab55c;
  color: #fff;
}


.portfolio-content .isotope-filter .isotope-select {
  width: 85%;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-POST */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-post {
  margin-bottom: 30px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* PRICES */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.submenu {
  max-width: 211px;
}

.prices .submenu a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 10px;
}

.prices .submenu .btn.green-custom {
  background: #fff;
  color:#7ab55c;
  border: 1px solid #7ab55c;
  font-weight: 500;
}

.prices .submenu .btn.green-custom:hover {
  background: #7ab55c;
  color:#fff;
}

.prices .submenu .btn.green-custom.active {
  background: #7ab55c;
  color:#fff;
}

.prices .submenu-fixed {
  position: fixed;
  top: 115px;
}

.prices .submenu-fixed-bottom {
  position: absolute;
  bottom: 20px;
}

.prices table {
  width: 100%;
}

.prices table .prices-caption {
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 45px;
}

.prices table, .prices th, .prices td, .prices table .prices-caption {
  border: none;
  line-height: 24px;
  color: #495057;
}

.prices .prices-caption:hover {
  background: none;
}

.prices th, .prices td {
  border-top: 1px solid #dee2e6;
}

.prices table .col-metric {
  width: 80px;
}

.prices table tr td:not(:first-of-type) {
  vertical-align: middle;
}

.prices table .col-price {
  width: 95px;
}

.prices h4 {
  font-size: 16px;
}

@media (max-width: 1200px){
  .submenu {
    max-width: 203px;
  }
}

@media (max-width: 991px){
  .submenu {
    max-width: 143px;
  }
}

@media (max-width: 768px){
  .submenu {
    max-width: none;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* SIMPLE SCROLL TO TOP BUTTON */


/*-------------------------------------------------------------------------------------------------------------------------------*/


#ssttbutton {
  bottom: 50px;
  z-index: 1500;
}

@media screen and (max-width: 980px) {
  #ssttbutton {
    bottom: 90px;
    right: 20px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* BLOG */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.zoom-hover {
    overflow: hidden;
    display: block;
    position: relative;
    height: 400px;
}
.zoom-hover img {
    width: 100%;
    transition: .12s ease-in-out;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.zoom-hover img:hover {
    transform: scale(1.2);
}

.tt-blog-cat {
  font-weight: normal;
}

.tt-blog-cat, .tt-blog-cat a {
  vertical-align: baseline;
  color: inherit;
}

.tt-blog-cat a:hover {
  color: #82aa56;
}

.read-more-link {
    font-size: 14px !important;
}

.post p, .post ul, .post li, .post span {
    color: #353535;
}

.post p, .post span {
    font-size: 19px;
    line-height: 28px !important;
    font-weight: 300;
}

.post ul {
    font-size: 19px;
    line-height: 26px !important;
    font-weight: 300;
}

.post p + ul {
    margin-left: 20px;
    margin-top: -20px;
}

.post ul li {
    margin-bottom: 12px;
}

.simple-text h3 {
    margin-bottom: 10px;
}

@media (max-width: 767px){
  .zoom-hover {
    max-height: 200px;
  }
  .tt-post {
    max-width: none;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CALL ORDER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.cp_id_7605b .cp-modal {
  transition: .2s linear;
}

.cp_id_7605b .cp-modal-body {
  background-size: auto !important;
  background-repeat: repeat !important;
}

.cp_id_7605b form {
  margin-top: 20px;
}

.cp_id_7605b .wpcf7-not-valid-tip {
  display: none;
}

.cp_id_7605b input.wpcf7-not-valid {
  border: 1px solid red !important;
}

.cp_id_7605b input {
  transition: .1s linear;
  width: auto !important;
  max-width: 50% !important;
  display: inline !important;
  margin-right: 10px;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Tahoma;
  color: rgb(84, 84, 84);
  border: 1px solid rgb(191, 190, 190) !important;
}

.cp_id_7605b input[type="submit"] {
  background: rgb(121, 181, 49);
  line-height: 20.7px;
  font-size: 18px;
  color: #fff;
  border: none !important;
  font-weight: bold;
  line-height: 23px;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  top: 1px;
}

.call-order-success-message {
  color: #fff !important;
  font-size: 17px !important;
}

.wpcf7-mail-sent-ok {
  font-size: 14px !important;
  margin-top: 5px !important;
}

@media screen and (max-width : 980px) {
  .cp_id_7605b input {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 90% !important;
    width: 90% !important;
  }

  .cp_id_7605b input[type="submit"] {
    display: block !important;
    margin: 0 auto;
  }
}