a{
    vertical-align: middle;
}


.h-100vh{
  height:100vh!important;
}

.h-90vh{
  height:90vh!important;
}
.h-600px{
  height:600px!important;
}
.h-500px{
  height:500px!important;
}
.h-400px{
  height:400px!important;
}

.swiper-custom.tt-arrow-left, .swiper-custom.tt-arrow-right{
    background:transparent !important;
    border:none;
}
.swiper-custom span{
    font-size:35px;
    color:#fff;
    background:transparent;
}
.pagination{
    justify-content:center;
}
#content-wrapper.content {
    padding:0;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-1 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-1.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-2 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-2.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/



/* TT-SERVICE TYPE-5 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-5 .tt-service-icon:hover {
    background: transparent;
}

.tt-service.type-5.color-1 .tt-service-icon:hover span{
    color: #86bb6b;
}

.tt-service.type-5.color-2 .tt-service-icon:hover span{
    color: #368aa9;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-6 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-service.type-6.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

.tt-service.type-6 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}



/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-7 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-7 {
  text-align: center;
}

.tt-service.type-7 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
}

.tt-service.type-7 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

.tt-service.type-7.color-2 .tt-service-icon:hover {
    background: #368aa9;
}

.tt-service.type-7 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-7 .tt-service-title {
  margin-bottom: 16px;
}

@media (max-width:767px) {
  .tt-service.type-7 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-8 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-8 .tt-service-icon {
  width: 60px;
  height: 60px;
  font-size: 60px;
  border: 0;
}

.tt-service.type-8 .tt-service-icon span {
  font-size: 60px;
  line-height: 60px;
}

.tt-service.type-8 .tt-service-icon:hover,
.tt-service.type-9 .tt-service-icon:hover {
  background: transparent;
}

.tt-service.type-8 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-8 .tt-service-icon:hover span {
  color: #30373b;
}

.tt-service.type-8 .tt-service-info {
  padding-left: 80px;
}

@media (max-width:991px) {
  .tt-service.type-8 .tt-service-info {
    padding-left: 0;
  }
  .tt-service.type-8 .tt-service-icon {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width:767px) {
  .tt-service.type-8 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-9 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-9 {
  text-align: center;
}

.tt-service.type-9 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-9 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-9 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

@media (max-width:991px) {
  .tt-service.type-9 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-10 */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-service.type-10 {
  text-align: center;
  border:1px solid #eaeaea;
  padding:25px 40px 50px 40px;
}

.tt-service.type-10 .tt-service-icon:hover {
    background: transparent;
}

.tt-service.type-10.color-1 .tt-service-icon:hover span{
    color: #86bb6b;
}

.tt-service.type-10.color-2 .tt-service-icon:hover span{
    color: #368aa9;
}

.tt-service.type-10 .tt-service-title:hover {
    color: inherit;
    cursor: default;
}

.tt-service.type-10 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-10 .tt-service-info {
  padding-left: 0 !important;
  padding-top: 0px;
}

@media (max-width:991px) {
  .tt-service.type-10 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-SERVICE TYPE-11 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-service.type-11{
    background-color: #eee;
    padding: 25px;
    text-align: center;
    min-height:280px;
}

.tt-service.type-11 .tt-service-icon {
  float: none;
  margin: 0 auto 30px auto;
  border: 0;
  background: transparent;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tt-service.type-11 .tt-service-info {
  padding-left: 0;
  padding-top: 0;
}

.tt-service.type-11 p{
    color: #646464;
}

.tt-service.type-11 .tt-service-icon {
    height: 85px;
}

@media (max-width:991px) {
  .tt-service.type-11 {
    max-width: 3000px;
    margin:10px auto;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MASONRY */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.msnry_item a:hover{
  cursor: zoom-in;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CASE SERVICES */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.tt-case-img.hover-custom{
  position: relative;
  overflow: hidden;
  display: block;
}

.tt-case-img.hover-custom img{
  max-width: 100%;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tt-case-img.hover-custom:hover img{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* CASE SERVICES */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.breadcrumb {
  background:none;
}

ol.breadcrumb {
  justify-content: flex-end;
  font-size: 19px;
}

#breadcrumbs-div {
  background-color:#f8f8f8;
  padding:15px 0 1px 0;
}




/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MENU */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-header .tt-address-info{
  padding:0;
}

.tt-header .main-nav > ul > li > ul > li > a:hover {
  color: #949494;
}

.tt-address-info, .contact-details-module .c-btn.type-5 {
  font-size: 15px;
}
#mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu.mega-services > ul.mega-sub-menu {
  width:150%;
}

@media (max-width: 1200px){
  /* Вкл. мобильный дизайн меню */
  .tt-header .toggle-block {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 100%;
      background: #fff;
      padding: 65px 15px 0px 15px;
      -webkit-box-shadow: 0px 1px 2px 0px #eaeaea;
      -moz-box-shadow: 0px 1px 2px 0px #eaeaea;
      box-shadow: 0px 1px 2px 0px #eaeaea;
  }

  /* Ширина меню */
  .tt-header .top-inner {
    width:100%;
  }

  /* Отступ от лого */
  .tt-header .toggle-block {
    padding-top: 90px;
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  /* Центрирование логотипа */
  .top-inner-container {
    text-align: center;
  }
  .top-inner {
    margin-bottom: 10px;
  }
}

@media (max-width:992px) {
  #mega-menu-wrap-primary-menu #mega-menu-primary-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
    max-width:100%;
  }
  .tt-header .main-nav {
    margin-bottom: 0;
  }
  .tt-header .nav-more .c-btn {
    margin-bottom:10px;
    margin-top:10px;
  }
  .tt-header .toggle-block {
    overflow: initial;
  }
}
@media (max-width:600px) {
  .tt-header .toggle-block {
    overflow: auto !important;
  }
}






/*---------------------*/
/* Многоуровневое меню */
/*---------------------*/
.tt-header .main-nav > ul > li > ul > li > a{
  transition: .1s linear;
  /*padding-right:50px;*/
}

@media (min-width: 992px) {
  .tt-header .main-nav > ul > li > ul{
    transform: translateY(0);
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    margin-top:0;
    margin-left: 0;
    left: 0;
    width:auto;
    min-width: 120px;
  }
  .tt-header .main-nav > ul > li > ul {
    /*border-top: none;*/
  }
  .tt-header .main-nav > ul > li > ul > li > a:hover{
    background:initial;
    font-weight:bold;
  }
}
@media (max-width:992px) {
  .tt-header .main-nav > ul > li > ul {
    background:none;
    color:#007bff;
    padding:0!important;
  }
  .tt-header .main-nav > ul > li > ul > li > a {
    color:inherit;
    padding-right:0!important;
    padding-left:0!important;
  }
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* FORM IN CONTACTS */


/*-------------------------------------------------------------------------------------------------------------------------------*/

#form-contacts label{
  display:block;
  margin: 10px 0;
  font-size: 17px;
}

#form-contacts input, #form-contacts textarea{
  background-color:#eee;
  border:none;
  width:100%;
  line-height:30px;
  font-size:18px;
}

#form-contacts textarea{
  resize:none;
  height:140px;
}

#form-contacts input[type="submit"]{
  color:#777;
  padding:7px;
  font-size:15px;
  border:none;
  cursor:pointer;
}
#form-contacts input[type="submit"]:active{
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* FORM IN FOOTER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

footer form {
  margin-top: 5px;
}

footer form input {
  height: 32px;
  font-size: 16px;
  border: none;
  background :#eee;
  padding-left: 5px;
}

footer input[type="tel"]{
  margin-right: 10px;
  margin-bottom: 10px;
}

footer input[type="submit"]{
  cursor: pointer;
  padding: 1px 20px;
  color: #fff;
  font-weight: bold;
  background: #949494;
  transition: .1s linear;
}
footer input[type="submit"]:hover{
  background: #737373;
}

footer input[aria-invalid="true"]{
  border:1px solid #ff6868;
  background-color: #ffcccc;
}

footer input[aria-invalid="true"]:focus{
  background-color: #fff;
  border: none;
}

footer .wpcf7-response-output, footer .wpcf7-not-valid-tip {
  display: none !important;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* MENU IN FOOTER */


/*-------------------------------------------------------------------------------------------------------------------------------*/

footer .widget_nav_menu ul#menu-main-menu{
  height:170px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}

footer ul li ul {
  display:none;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* BUTTON TYPE-5 */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.c-btn.type-5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #7ab55c;
  border: 2px solid #7ab55c;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  transition: .15s linear;
}

.c-btn.type-5 span,
.c-btn.type-5 input {
  display: inline-block;
  padding: 8px 29px 7px 29px;
}


.c-btn.type-5 input {
  background: transparent;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

.c-btn.type-5:hover {
  background: #7ab55c;
  color:#fff;
}

.c-btn.type-5.size-2 span,
.c-btn.type-5.size-2 input {
  padding: 15px 54px 14px 54px;
}

.c-btn.type-5.color-2 {
  color: #7ab55c;
  border: 2px solid #7ab55c;
}

.c-btn.type-5.color-2:hover {
  color: #fff;
  background: #7ab55c;
}

.c-btn.type-5.color-3 {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.c-btn.type-5.color-3:hover {
  color: #000;
  background: #fff;
}

.c-btn.type-5.color-4 {
  color: #ef662f;
  border: 2px solid #ef662f;
}

.c-btn.type-5.color-4:hover {
  color: #fff;
  background: #ef662f;
}

.c-btn.type-5.color-5 {
  color: #479ccf;
  border: 2px solid #479ccf;
}

.c-btn.type-5.color-5:hover {
  color: #fff;
  background: #479ccf;
}

.c-btn.type-5.color-6 {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  border-color: rgba(255, 255, 255, 0.6);
  background: #fff;
}

.c-btn.type-5.radius-0 {
  -moz-border-radius: 0;
  border-radius: 0;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* SWIPER */


/*-------------------------------------------------------------------------------------------------------------------------------*/


.swiper-wrapper {
  align-items: center;
}

.tt-partner {
  border: none;
  text-align: center;
}

.swiper-container {
  border-top: 1px solid #e6e9ea;
  border-bottom: 1px solid #e6e9ea;
}

.swiper-container.h-90vh img{
  max-height:100%;
}

.tt-mslide-2-img {
  padding-top:3%;
}

.tt-mslide-2-table {
  height:100%;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TESTIMONIALS */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.testimonial-swiper-slider.swiper-container{
  border:none;
}

.tt-testimonial-label{
  color: #30373b
}

.tt-swiper-arrow-center.for-testimonials .swiper-button-prev.pos-1{
  left:-25px!important;
}
.tt-swiper-arrow-center.for-testimonials .swiper-button-next.pos-1{
  right:-25px!important;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* FILTER CATEGORIES */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.isotope-filter {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 20px;
}

.isotope-filter button {
  padding:15px 20px;
  background: #e0e0e0;
  cursor: pointer;
  margin: 5px;
  border: none;
  transition: .2s linear;
}

.isotope-filter button.is-checked {
  background: #7ab55c;
  color: #fff;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/


/* TT-POST */


/*-------------------------------------------------------------------------------------------------------------------------------*/

.tt-post {
  margin-top: 10px;
  margin-bottom: 10px;
}